@model WebShop.Models.ViewRecord
@{
      Layout = "~/Views/Shared/_Sidebar.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    @* <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"> *@
    <title>Edit Installment</title>
    <!-- Favicon icon -->
    @* <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> *@
    <!-- Custom Stylesheet -->
    <link href="~/Theme/css/style.css" rel="stylesheet">

     <link href="~/Theme/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/Theme/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/Theme/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Theme/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/Theme/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Theme/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

</head>

<body>

   

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Installment</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Pay</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border-primary">
                            <div class="card-header text-center"><h3 class="text-info">Update Monthly Installment</h3></div>
                                <div class="card-body">
                                    @{
                                        if(ViewBag.SameAmount == null)
                                        {
                                            <form action="">
                                                <div class="row">

                                                    <div class="col-6">
                                                        <label class="mt-3">Update Amount</label>
                                                        <div class="form-group ">
                                                            <input type="number" name="updatedamount" value="@Model.Amount" class="form-control border-info " placeholder="Enter Amount" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <label class="mt-3">Date Of Payment</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control border-info" value="@Model.PaymentDate.ToString("yyyy/MM/dd")" placeholder="Date" id="mdate" name="updatedPaydate" required>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="payid" id="payid" value="@Model.PayId">

                                                </div>
                                                <button type="submit"  asp-controller="MonthlyInstallment"  asp-action="UpdateInstallment" class="btn mt-3 mb-1 mt-4 btn-info btn-rounded px-5 py-2 float-right">Confirm Payment</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <div class="alert alert-warning alert-dismissible fade show">
                                                @ViewBag.SameAmount
                                            </div>
                                            <form action="">
                                                <div class="row">

                                                    <div class="col-6">
                                                        <label class="mt-3">Update Amount</label>
                                                        <div class="form-group ">
                                                            <input type="number" name="updatedamount" value="@ViewBag.updatedAmount" class="form-control border-info " placeholder="Enter Amount" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <label class="mt-3">Date Of Payment</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control border-info" value="@ViewBag.updatedDate.ToString("yyyy/MM/dd")" placeholder="Date" id="mdate" name="updatedPaydate" required>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="payid" id="payid" value="@ViewBag.payid">

                                                </div>
                                                <button type="submit"  asp-controller="MonthlyInstallment"  asp-action="UpdateInstallment" class="btn mt-3 mb-1 mt-4 btn-info btn-rounded px-5 py-2 float-right">Confirm Payment</button>
                                            </form>
                                        }
                                    }
                                    
                                </div>



                                @* <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
                                
                                    


                                    
                                        
                            </div>
                            <div class="card-footer"><small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Theme/plugins/common/common.min.js"></script>
    <script src="~/Theme/js/custom.min.js"></script>
    <script src="~/Theme/js/settings.js"></script>
    <script src="~/Theme/js/gleek.js"></script>
    <script src="~/Theme/js/styleSwitcher.js"></script>




    <script src="~/Theme/plugins/moment/moment.js"></script>
    <script src="~/Theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/Theme/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Theme/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/Theme/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/Theme/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Theme/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Theme/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Theme/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Theme/js/plugins-init/form-pickers-init.js"></script>

</body>

</html>