@model WebShop.Models.MonthlyInstallments.MonthlyInstallment
@{
      Layout = "~/Views/Shared/_Sidebar.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    @* <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"> *@
    <title>Pay Installments</title>
    <!-- Favicon icon -->
    @* <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> *@
    <!-- Custom Stylesheet -->
    <link href="~/Theme/css/style.css" rel="stylesheet">

     <link href="~/Theme/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/Theme/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/Theme/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Theme/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/Theme/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Theme/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

</head>

<body>

   

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Installment</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Pay</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border-primary">
                            <div class="card-header text-center"><h3 class="text-info">PAY Monthly Installment</h3></div>
                            <div class="card-body">

                                <div class="row">

                                    <div class="col-6 my-auto">
                                        <div class="ml-5">
                                            <h4><span class="mr-3 text-light">Product Name:</span><span class="ml-5 text-dark">@Model.ProductName</span></h4>
                                            <h4><span class="text-light">Customer Name:</span><span class="ml-5">@Model.CustomerName</span></h4>
                                            <h4><span class="mr-4 text-light">Father Name:</span><span class="ml-5">@Model.FatherName</span></h4>
                                            <h4><span class="mr-1 text-light">Mobile Number:</span><span class="ml-5">@Model.MobilleNo</span></h4>
                                        </div>

                                        
                                        @* <div class="row bg-white">
                                            <div class="">
                                                
                                            </div>
                                            
                                        </div> *@
                                        @* <h1 class="mb-5">Customer Details</h1> *@
                                    </div>


                                    <div class="col-6">
                                        <form action="">
                                            @* <h1 class="mb-5">Payment Form</h1> *@
                                            <label class="">Enter Amount</label>
                                            @* <input type="number" name="paidamount" class="border-primary form-control input-rounded w-75" placeholder="Enter Amount"> *@

                                            @* <div class="col-lg-6"> *@
                                            <div class="form-group ">
                                                <input type="number" name="paidamount" class="form-control border-info w-75" placeholder="Enter Amount" required>
                                            </div>
                                            @* </div> *@

                                            <label class="mt-3">Date Of Payment</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control border-info w-75" placeholder="Date" id="mdate" name="paydate" required>
                                            </div>
                                            @* <input type="text" class="form-control border-primary input-rounded w-75" placeholder="Date" id="mdate" name="paydate"> *@

                                            <input type="hidden" name="saleid" id="saleid" value="@Model.SaleId">


                                            <button type="submit"  asp-controller="MonthlyInstallment"  asp-action="ConfirmInstallment" class="btn mt-3 mb-1 mt-4 btn-info btn-rounded px-5 py-2">Confirm Payment</button>
                                        </form>
                                    </div>
                                </div>



                                @* <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
                                
                                    


                                    
                                        
                            </div>
                            <div class="card-footer"><small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Theme/plugins/common/common.min.js"></script>
    <script src="~/Theme/js/custom.min.js"></script>
    <script src="~/Theme/js/settings.js"></script>
    <script src="~/Theme/js/gleek.js"></script>
    <script src="~/Theme/js/styleSwitcher.js"></script>




    <script src="~/Theme/plugins/moment/moment.js"></script>
    <script src="~/Theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/Theme/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Theme/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/Theme/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/Theme/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Theme/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Theme/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Theme/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Theme/js/plugins-init/form-pickers-init.js"></script>

</body>

</html>