@model WebShop.Models.Tblcustomer

@{
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edit Customer</title>
    <!-- Favicon icon -->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Custom Stylesheet -->
    <link href="~/Theme/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Theme/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="main-wrapper">
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border-primary">
                            <div class="card-header text-center">
                                <h3 class="text-info">Edit Customer</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" >
                                    <input type="text" hidden name="CustomerId" value = "@Model.CustomerId">
                                    <div class="row">

                                        <div class="col-6">
                                            <label class="">Customer Name</label>
                                            <div class="form-group ">
                                                <input type="text" name="customername" class="form-control border-info"
                                                    placeholder="Customer Name" required value = "@Model.CustomerName">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="">Father Name</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control border-info"
                                                    placeholder="Father Name" name="CustomerFathername" value = "@Model.CustomerFathername" required>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-6">
                                            <label class="">CNIC</label>
                                            <div class="form-group ">
                                                <input type="text" data-inputmask="'mask': '99999-9999999-9'" name="CustomerCnic" class="form-control border-info"
                                                    placeholder="Customer Cnic" value="@Model.CustomerCnic" required>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="">Mobile No</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control border-info" value="@Model.CustomerMobileno"
                                                    placeholder="Mobile No" name="CustomerMobileno" required>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-6">
                                            <label class="">Customer Address</label>
                                            <div class="form-group ">
                                                <input type="text" name="CustomerAddress" class="form-control border-info"
                                                    placeholder="Customer Address" value = "@Model.CustomerAddress" required>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="">Customer Reference</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control border-info"
                                                value="@Model.CustomerReference"   placeholder="Customer Reference" name="CustomerReference" required>
                                            </div>
                                        </div>

                                    </div>




                                    <button type="submit" asp-controller="Customer"
                                        asp-action="UpdateCustomer"
                                        class="btn float-right mt-4 btn-info btn-rounded px-5 py-2">Update</button>
                                </form>

                            </div>

                        </div>
                        <div class="card-footer"><small></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

       <script src="~/Theme/Cnic-JS/jquery.min.js"></script>
    <script src="~/Theme/Cnic-JS/jquery.inputmask.bundle.js"></script>


    

   <script>
    $(":input").inputmask();

   </script>

</body>