
@model IEnumerable<WebShop.Models.Tblcustomer>

@{
      Layout = "~/Views/Shared/_Sidebar.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    @* <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"> *@
    <title>View Customers</title>
    <!-- Favicon icon -->
    @* <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> *@
    <!-- Custom Stylesheet -->
    <link href="~/Theme/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Theme/css/style.css" rel="stylesheet">
    <link href="~/Theme/plugins/toastr/css/toastr.min.css" rel="stylesheet">

   

</head>

<body>

  

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">View Customers</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @if(ViewBag.msg != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show">
                                        @ViewBag.msg
                                    </div>
                                }
                               
                                <h4 class="card-title">Data Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Father Name</th>
                                                <th>CNIC</th>
                                                <th>Mobile No</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                              @foreach (var item in Model)
                                              {
                                                <tr>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerFathername)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerCnic)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerMobileno)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerAddress)</td>
                                                @* <td><a asp-action="Profile" asp-controller="Customer" asp-id="@item.CustomerId"><i class="fa fa-eye" aria-hidden="true"></i></a></td> *@
                                                <td class="text-center">
                                                    <span>
                                                        @Html.ActionLink("", "Profile", "Customer",  new { CustomerId = item.CustomerId} , new { @class= " fa fa-eye fa-lg text-info"} )
                                                    </span>
                                                    <span class="ml-2">
                                                        @Html.ActionLink("", "Edit", "Customer", item, new {@class  = "fa fa-pencil fa-lg text-success"})
                                                
                                                    </span>
                                                </td>
                                                @* <td><span >@Html.ActionLink("Pay", "PayInstallment", "MonthlyInstallment",  new { saleId = item.SaleId} , new {@class = " btn btn mb-1 btn-outline-warning text-bold" } )</span></td> *@
                                                </tr>
                                              }
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Theme/plugins/common/common.min.js"></script>
    <script src="~/Theme/js/custom.min.js"></script>
    <script src="~/Theme/js/settings.js"></script>
    <script src="~/Theme/js/gleek.js"></script>
    <script src="~/Theme/js/styleSwitcher.js"></script>


    

    @* <script src="~/Theme/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/Theme/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Theme/plugins/tables/js/datatable-init/datatable-basic.min.js"></script> *@

</body>

</html>
